.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.heading {
  text-align: center;
  font-size: 3.6rem;
  font-weight: 700;
  color: #c1a17b;
  margin: 20px;
}

.info {
  margin-top: 10px;
  text-align: left;
  font-size: 1.6rem;
  font-weight: 500;
  color: gray;
  line-height: 1.5;
}

.form-main {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-label {
  font-size: 1.6rem;
  font-weight: 600;
}

.form-control,
textarea {
  padding: 10px;
  font-size: 1.6rem;
  font-weight: 500;
  border: 1px solid #333;
  border-radius: 5px;
}

.btn {
  margin-top: 20px;
  padding: 10px;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: #c1a17b;
  color: #fff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  background-color: rgba(193, 162, 123, 0.8);
}
