.header {
  position: relative;
  background-size: cover;
  background-color: #000;
  position: sticky;
  top: 0;
  z-index: 99;
}

.header__inner {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header__logo {
  z-index: 2;
  font-size: 2.4rem;
  color: #fff;
  font-weight: bold;
}

.header__list {
  z-index: 2;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header__link {
  padding: 0 12px;
  color: #fff;
}

.header__link:hover {
  color: #fafa26;
}

.header__ctas {
  z-index: 2;
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__cta {
  padding: 8px 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}

.header__cta:hover {
  background-color: #fafa26;
  border: 1px solid #fafa26;
  color: #000;
}

.group-avatar {
  margin-left: 20px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
}

.group-avatar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  transform: translateY(100%);
  background-color: transparent;
  opacity: 0;
  visibility: visible;
}

.group-avatar:hover .group-action {
  display: flex;
}

.group-avatar:hover .group-action::after {
  opacity: 1;
  visibility: visible;
}

.avatar {
  padding: 5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
}

.name-avatar {
  color: #fff;
  font-weight: 600;
  margin-left: 10px;
}

.group-action {
  padding: 5px;
  position: absolute;
  width: 200px;
  top: 70px;
  left: 0;
  background-color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  display: none;
  border-radius: 4px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.group-action::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
}
.action-link {
  padding: 8px 0;
  padding-left: 5px;
  color: #333;
  font-weight: 600;
}

.action-link:hover {
  color: orangered;
}
