.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.hero {
  background-color: #000;
  position: relative;
}

.hero::before {
  content: url("/imgs/hero-1.png");
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: max-content;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero::after {
  content: url("/imgs/hero-2.png");
  position: absolute;
  z-index: 1;
  top: 0;
  left: 1248px;
  width: max-content;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__inner {
  padding: 100px 0;
  width: 100%;
  max-width: 570px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  flex-direction: column;
}

.hero__desc {
  font-weight: 400;
}

.hero__desc:last-child {
  margin-top: 20px;
}

.hero__heading {
  margin-top: 10px;
  font-size: 5.4rem;
}

.about {
  padding: 100px 0;
}

.about__inner {
  display: flex;
  justify-content: space-between;
}

.about__left {
  width: 40%;
  display: flex;
  gap: 20px;
}

.about__left img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.about__img-1 {
  transform: translateY(-30px);
}

.about__right {
  width: 50%;
}

.about__heading {
  font-size: 4rem;
  font-weight: 600;
}

.about__desc {
  margin-top: 20px;
  text-align: justify;
  line-height: 1.2;
  font-size: 1.8rem;
  color: gray;
}

.about__desc strong {
  color: #333;
  font-weight: bold;
}

.about__phone {
  font-size: 3rem;
  margin-top: 20px;
  color: #333;
  font-weight: bold;
}

.menu {
  margin-top: 100px;
}

.menu__heading {
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
}

.menu__list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.menu__item {
  width: calc(50% - 20px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #000;
}

.menu__item-left {
  padding: 10px;
}

.menu__item-right {
  width: 50%;
}

.menu__item-right img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  vertical-align: bottom;
}

.menu__item-group {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu-name {
  font-size: 2.4rem;
  font-weight: 600;
}

.menu-price {
  color: #c1a17b;
  font-weight: bold;
}

.menu__link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px;
  background-color: #c1a17b;
  color: #fff;
  text-align: center;
  border-radius: 2px;
}

.menu__link:hover {
  opacity: 0.9;
}

.book {
  padding: 100px 0;
}

.book__inner {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
}

.book_group {
  display: flex;
  column-gap: 20px;
}

.book-left {
  width: 50%;
}

.book-right {
  width: 50%;
}

.book__heading {
  font-size: 3.2rem;
  color: #c1a17b;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.book__form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.book__form-input {
  height: 40px;
  padding: 0 10px;
}

.book__form-btn {
  display: block;
  width: 100%;
  background-color: #c1a17b;
  color: #fff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  padding: 20px 0;
}

.book__form-btn:hover {
  background-color: rgba(193, 162, 123, 0.8);
}

.tabs {
  display: flex;
  justify-content: space-between;
}

.tab-panes {
  margin-top: 20px;
}

.tab_item {
  cursor: pointer;
}

.tab_item-name {
  font-weight: 600;
}

.tab_item.active .tab_item-name {
  color: #c1a17b;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}

.tab-pane .form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tab-pane .form-group-price {
  display: flex;
  align-items: center;
  gap: 20px;
}

.tab-pane .count {
  width: 100px;
}
