.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.menu__heading {
  margin-top: 40px;
  font-size: 4rem;
  text-align: center;
  font-weight: 600;
  color: #c1a17b;
}

.form-search {
  width: 100%;
  padding: 10px;
  max-width: 300px;
  display: flex;
  align-items: center;
  background-color: #fff;
  margin-left: auto;
  border: 1px solid #333;
  border-radius: 5px;
}

.input-search {
  border: 0;
  outline: none;
  flex-grow: 1;
  padding-right: 10px;
}

.icon-search {
  flex-shrink: 0;
  padding: 12px;
  background-color: #c1a17b;
  border-radius: 4px;
  border: 0;
}

.icon-search:hover {
  color: #fff;
  cursor: pointer;
}

.menu__tabs {
  width: 100%;
  max-width: 60%;
  margin: 60px auto 0;
  display: flex;
  justify-content: space-between;
}

.menu__tab-item {
  font-size: 2.4rem;
  font-weight: 500;
  cursor: pointer;
}

.menu__products {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.menu__product {
  border: 1px solid #000;
  padding: 10px;
}

.wrap-img {
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}

.menu__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.menu__sub-heading {
  margin-top: 10px;
  font-size: 2rem;
  font-weight: 600;
}

.menu-price {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 10px;
  color: red;
}
