.container {
  grid-column: span 10 / span 10;
  background-color: #fafafa;
  margin-bottom: 20px;
}

.heading {
  margin-top: 20px;
  margin-right: 20px;
  padding: 10px 0;
  font-size: 2.4rem;
  font-weight: 700;
  padding: 20px;
  border: 1px solid gray;
  border-bottom: 0;
  color: #4c85e2;
}

.form-inner {
  padding: 20px;
  margin-right: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  border: 1px solid gray;
}

.form-group {
  width: calc(50% - 10px);
  row-gap: 10px;
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 1.8rem;
  font-weight: bold;
}

.form-control {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 4px;
}

.btn {
  display: block;
  margin: 20px auto 0;
  padding: 16px;
  border: 0;
  background-color: #4c85e2;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.tabs {
  padding: 20px;
  margin-right: 20px;
  border: 1px solid gray;
  display: flex;
  gap: 40px;
}

.tab {
  font-weight: 500;
  color: rgba(128, 128, 128, 0.852);
  cursor: pointer;
}

.tab.active {
  color: #4c85e2;
  font-weight: bold;
}

.menus {
  border: 1px solid gray;
  border-top: 0;
  padding: 20px;
  margin-right: 20px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  display: none;
}

.menu-item.active {
  display: flex;
}

.menu-inner {
  display: flex;
  justify-content: space-between;
}

.menu-group {
  display: flex;
  align-items: center;
  gap: 10px;
}
